<a class="item header ui" href="#/">
  <i class="big icons">
    <i class="tasks orange icon"></i>
    <i class="yellow inverted corner map loading icon"></i>
  </i>
  {{::AppName}}
</a>
<a class="item" href="#/" ng-class="{'active': (selectedMenu == '/')}">
  <i class="icon settings"></i>Dashboard
</a>
<a class="item" href="#/sale" ng-class="{'active':(selectedMenu == '/sale')}">
  <i class="icon bar chart"></i>Ventas
</a>
<a
  class="item"
  href="https://www.linkedin.com/in/carlos-adolfo-ruiz-rodr%C3%ADguez-2a164971/"
>
  <i class="icon mail"></i>Linkedin
</a>
